
.form-box {
    background-color: chocolate;
    width: 400px;
    height: 600px;
    border-radius: 8px;
}

.h1 {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.h2 {
    display: flex;
    justify-content: center;
    height: 100px;
}

.form {
    text-align: center;
}

.label {
    display: flex;
    justify-content: center;
}

.input {
    text-align: center;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
}

.cbox-title {
    display: inline;
}

.checkbox-container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cbox-title2 {
    display: inline;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}
.button {
    background-color: darkgreen;
    width: 350px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: green;
}