body {
    background-image:url(../images/pexels-philippe-donn-1114690.jpg);
    
}

.test1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background-color: chocolate;
    width: 400px;
    height: 600px;
    border-radius: 8px;
    float: right;
}

.h1 {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.h2 {
    display: flex;
    justify-content: center;
    height: 100px;
}

.form {
    text-align: center;
}

.label {
    display: flex;
    justify-content: center;
    margin: 5px;
    text-decoration: underline;
}

.input {
    outline: none;
    background-color: chocolate;
    border-bottom: 2px solid black;
    border-top: none;
    border-right: none;
    display: flex;
    margin-left: 10px;
    width: 300px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 130px;
}

.checkbox-container input {
    opacity: 1;
    cursor: pointer;
}

.cbox-title {
    display: inline;
}

.checkbox-container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.checkbox-container2 input {
    opacity: 1;
    cursor: pointer;
}

.cbox-title2 {
    display: inline;
}

/* Supposed to be for custom checkmark box
.fa-regular::before {
    border-color: black;  
}
*/

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;   
}
.button {
    background-color: rgb(243, 7, 7);
    width: 350px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: green;
}

